In [3]:
import pandas as pd

In [4]:
# Read CSV
data = pd.read_csv('./data/data.csv')

# Print first data
print(data.head())

      Name  Age         City
0    Alice   18     New York
1      Bob   32      Phoenix
2  Charlie   25      Chicago
3    David   14  Los Angeles
4    Elena   20      Houston

In [5]:
# Print field
name_field = data['Name']
print(name_field)

0      Alice
1        Bob
2    Charlie
3      David
4      Elena
Name: Name, dtype: object

In [8]:
# Filter data
filtered_data = data[data['Age'] > 18]
print(filtered_data)

      Name  Age     City
1      Bob   32  Phoenix
2  Charlie   25  Chicago
4    Elena   20  Houston

In [9]:
# Print description
print(data.describe())

             Age
count   5.000000
mean   21.800000
std     6.942622
min    14.000000
25%    18.000000
50%    20.000000
75%    25.000000
max    32.000000