# Loading and Inspecting Data

- Download a dataset from [Kaggle](https://www.kaggle.com/datasets)

In [ ]:
import pandas as pd

df = pd.read_csv("./data/MBA.csv")

# Print first records
print(df.head())

   application_id  gender  international   gpa       major      race   gmat  \
0               1  Female          False  3.30    Business     Asian  620.0
1               2    Male          False  3.28  Humanities     Black  680.0
2               3  Female           True  3.30    Business       NaN  710.0
3               4    Male          False  3.47        STEM     Black  690.0
4               5    Male          False  3.35        STEM  Hispanic  590.0

   work_exp          work_industry admission
0       3.0     Financial Services     Admit
1       5.0  Investment Management       NaN
2       5.0             Technology     Admit
3       6.0             Technology       NaN
4       5.0             Consulting       NaN

In [ ]:
# Print the dimensionality of the dataframe
print(df.shape)

(6194, 10)

In [ ]:
# Print the columns names
print(df.columns)

Index(['application_id', 'gender', 'international', 'gpa', 'major', 'race',
       'gmat', 'work_exp', 'work_industry', 'admission'],
      dtype='object')

In [ ]:
# Print a concise summary of the dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6194 entries, 0 to 6193
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   application_id  6194 non-null   int64
 1   gender          6194 non-null   object
 2   international   6194 non-null   bool
 3   gpa             6194 non-null   float64
 4   major           6194 non-null   object
 5   race            4352 non-null   object
 6   gmat            6194 non-null   float64
 7   work_exp        6194 non-null   float64
 8   work_industry   6194 non-null   object
 9   admission       1000 non-null   object
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 441.7+ KB
None