# Handling Missing Data

In [1]:
import pandas as pd

df = pd.read_csv("./data/MBA.csv")
print(df.head())

   application_id  gender  international   gpa       major      race   gmat  \
0               1  Female          False  3.30    Business     Asian  620.0
1               2    Male          False  3.28  Humanities     Black  680.0
2               3  Female           True  3.30    Business       NaN  710.0
3               4    Male          False  3.47        STEM     Black  690.0
4               5    Male          False  3.35        STEM  Hispanic  590.0

   work_exp          work_industry admission
0       3.0     Financial Services     Admit
1       5.0  Investment Management       NaN
2       5.0             Technology     Admit
3       6.0             Technology       NaN
4       5.0             Consulting       NaN

In [ ]:
# Detect missing values
print(df.isnull().sum())

application_id       0
gender               0
international        0
gpa                  0
major                0
race              1842
gmat                 0
work_exp             0
work_industry        0
admission         5194
dtype: int64

In [6]:
# Remove missing values
cleaned_data = df.dropna()
print(cleaned_data.isna().sum())

application_id    0
gender            0
international     0
gpa               0
major             0
race              0
gmat              0
work_exp          0
work_industry     0
admission         0
dtype: int64

In [ ]:
# Replace missing values
cleaned_data_2 = df.fillna({'work_exp': 4}, inplace=True) # Fill with 4
cleaned_data_2 = df.fillna({'work_exp': df['work_exp'].mean()}, inplace=True) # Fill with mean